<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org">
<head> 
<meta charset="ISO-8859-1">
<title> Protokoll-Manager </title>
</head>
<body>
<h1> Willkommen beim Protokoll-Manager! </h1>
<a> Hier geht es zur aktuellen Protokoll-Übersicht:</a><a href="/showProtokolle">Klick</a>
<br>
<a> Hier kann man direkt ein neues Protokoll erstellen:</a><a href="/newProtokollForm">Klick</a>
<br>
<a> Hier kann man ein Protokoll bearbeiten:</a><a href="/changeForm">Klick</a>
<br>
<a> Hier kann man ein Protokoll löschen:</a><a href="/deleteProtokollForm">Klick</a>
</body>
</html>